<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfz.recommendation.mapper.IUserMapper">
    <resultMap id="BaseResultMap" type="com.zfz.recommendation.bean.User">
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
    </resultMap>
    <insert id="addUser" parameterType="com.zfz.recommendation.bean.User">
        insert into user (user_name,password)values(#{userName},#{password})
    </insert>
    <select id="selectUserByUsernameAndPassword" parameterType="com.zfz.recommendation.bean.User" resultMap="BaseResultMap">
        select * from user where username=#{username} and password=#{password}
    </select>
</mapper>