#book{
    height: 200px;
}
#img{
    float: left;
}
#bookName{
    margin-top: 0;
    padding-left: 15px;
    /*letter-spacing: 10px;*/
    font-size: large;
    font-family: 微软雅黑;
    color: #0f0f0f;
    /*border-bottom-width: medium;*/
    /*border-bottom-color: black;*/
}
#author{
    padding-left: 120px;
    margin-top: 8px;
    margin-bottom: 7px;
    font-family: 微软雅黑;
    color: #9e9e9e;
    font-size: medium;
    font-weight: normal;
}
#introduce{
    padding-left: 15px;
    font-family: 微软雅黑;
    font-size: small;
    color: #9e9e9e;
    overflow: hidden;
}