<!DOCTYPE html>
<html lang="zh">
<head>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/detail.css" type="text/css" rel="stylesheet">
<!--    <link href="../static/css/booksort.css" type="text/css" rel="stylesheet">-->
    <meta charset="UTF-8">
    <title>详情</title>
    <script src="../static/js/jquery/jquery-3.4.1.js" ></script>
    <link type="text/css" rel="stylesheet" href="../static/raty/demo/css/application.css">
    <script type="text/javascript" src="../static/raty/demo/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/raty/lib/jquery.raty.min.js"></script>
</head>
<body>
<!-----------------------------------头部导航栏---------------------------------------------->
<nav class="navbar navbar-default">
    <div class="container">
        <!--         Brand and toggle get grouped for better mobile display-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="#">首页 </a></li>
                <li class="active"><a href="#">分类</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="书名/作者名">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="/login">登录</a></li>
                <li><a href="/userRegister">注册</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>
<!-----------------------------------头部导航栏---------------------------------------------->

<!--------------------------------------书籍详情显示----------------------------------------------->
<div class="container">

    <div class="row">
        <div class="col-md-12 jumbotron" id="bookDetail">

<!--            <div id="detail">-->
<!--                <p id="img" class="text-center">-->
<!--                    <img  alt="金庸作品集（插图版）" src="http://book.img.ireader.com/idc_1/m_1,w_105,h_140,q_100/53f54ba7/group6/M00/2D/1D/CmRae1uGZTKEQrCPAAAAAKL40E0776871827.jpg?v=_tyPRmtg&amp;t=CmRaIVvhOHE."/>-->
<!--                </p>-->

<!--                <a id="bookName" href="http://www.ireader.com/index.php?ca=bookdetail.index&amp;pca=booksort.index&amp;bid=1169685">金庸合集</a>-->
<!--                <p id="author">金庸</p>-->
<!--                <p id="introduce">金庸先生历时六年，终于完成了全部作品的第三次修订工作。金庸先生对全部作品的语言文字一一进行了订正，特别对一些早期作品的故事情节和人物形象塑造进行了较大的改动，使情节更具吸引力、人物更鲜活。作品集包括全十五部，三十六册：《书剑恩仇录》《碧血剑》《射雕英雄传》《雪山飞狐》《神雕侠侣》《飞狐外传》《白马啸西风》《倚天屠龙记》《鸳鸯刀》《连城诀》《天龙八部》《侠客行》《笑傲江湖》《鹿鼎记》《越女剑》。</p>-->
<!--            </div>-->
<!--            <a href="http://www.ireader.com/index.php?ca=Chapter.Index&amp;pca=booksort.index&amp;bid=10959906">abc</a>-->

        </div>
<!--        "<div><span id=\"rate\">您的评分为：</span><div id=\"star\"></div>"-->
    </div>
    </div>
</div>
<div class="container">
    <h1>可能喜欢</h1>

    <div class="col-md-12 jumbotron" >
        <div class="row" id="bookRecommend">
<!--        <div id="detail2" class="col-md-3">-->
<!--            <p id="img2" class="text-center">-->
<!--                <img  alt="金庸作品集（插图版）" src="http://book.img.ireader.com/idc_1/m_1,w_105,h_140,q_100/53f54ba7/group6/M00/2D/1D/CmRae1uGZTKEQrCPAAAAAKL40E0776871827.jpg?v=_tyPRmtg&amp;t=CmRaIVvhOHE."/>-->
<!--            </p>-->
<!--            <a id="bookName2" href="http://www.ireader.com/index.php?ca=bookdetail.index&amp;pca=booksort.index&amp;bid=1169685">金庸合集</a>-->
<!--            <p id="author2">金庸</p>-->
<!--            <p id="introduce2">金庸先生历时六年，终于完成了全部作品的第三次修订工作。金庸先生对全部作品的语言文字一一进行了订正，特别对一些早期作品的故事情节和人物形象塑造进行了较大的改动，使情节更具吸引力、人物更鲜活。作品集包括全十五部，三十六册：《书剑恩仇录》《碧血剑》《射雕英雄传》《雪山飞狐》《神雕侠侣》《飞狐外传》《白马啸西风》《倚天屠龙记》《鸳鸯刀》《连城诀》《天龙八部》《侠客行》《笑傲江湖》《鹿鼎记》《越女剑》。</p>-->
<!--        </div>-->

    </div>
    </div>
</div>



<!--<script src="../static/js/jquery/jquery-3.4.1.js" ></script>-->
<script>
    $(function () {
        let $bid = window.location.search.split("=")[1];
        let $userId = sessionStorage.getItem("userId")
        if($userId == null)
            $userId = -1
        // $("#star").raty({
        //     path:"../static/raty/demo/img",
        //     size     : 24,
        //     starOff  : 'star-off-big.png',
        //     starOn   : 'star-on-big.png',
        //     click:function (score) {
        //         if($userId == -1){
        //             alert("请您登录后再进行评分")
        //             window.location="/login"
        //         }else{
        //             let $rateUrl = "/rate/" + $userId + "/" + $bid + "/" + score
        //             $.ajax({
        //                 url: $rateUrl,
        //                 success:function () {
        //                     alert("评分成功")
        //                 },
        //                 error:function () {
        //                     alert("抱歉，评分失败，请稍后再试")
        //                 }
        //             })
        //         }
        //     }
        // })
        console.log($userId)
        console.log($bid);
        let $url = "/detail/"+$bid+"/"+$userId;
        $.ajax({
            url: $url,
            type: "POST",
            success:function (data) {
                let $detail = data.detail;
                let $recommend = data.recommend;
                loadDetail($detail);
                loadRecommend($recommend);
            },
            error:function () {
                alert("ajax error!")
            }
        })
        function loadDetail(books) {
            for (let i = 0; i < books.length ; i++) {
                let $introduce = String(books[i].introduce);
                let $bookName = String(books[i].bookName);
                let $tryread = String(books[i].tryread);
                // console.log($introduce.length)
                // if($bookName.length > 8){
                //     $bookName = $bookName.substring(0, 7) + "..."
                // }
                // if ($introduce.length>30){
                //     $introduce = $introduce.substring(0,30)
                //     $introduce = $introduce + "..."
                //     console.log($introduce)
                // }
                // $(".row").append("<div class=\"col-md-3\"> <div> <a href=\"http://www.ireader.com/index.php?ca=bookdetail.index&amp;pca=booksort.index&amp;bid=11696851\" id=\"img\"> <img alt=\"金庸作品集（插图版）\" src=\"http://book.img.ireader.com/idc_1/m_1,w_105,h_140,q_100/53f54ba7/group6/M00/2D/1D/CmRae1uGZTKEQrCPAAAAAKL40E0776871827.jpg?v=_tyPRmtg&amp;t=CmRaIVvhOHE.\"/> </a> <a id=\"bookName\" href=\"http://www.ireader.com/index.php?ca=bookdetail.index&amp;pca=booksort.index&amp;bid=1169685\">金庸合集</a> <p id=\"author\">金庸</p> <p id=\"introduce\">asnhdkljanslnjasdasnhdkljanslnjasdasnh dkljanslnjasdasnh dkljanslnjasdasnh dkljanslnjasd</p> </div> </div>")
                $("#bookDetail").append("<div id='detail'> <div> <a href=" + books[i].imgSrc +" id=\"img\"> <img alt="+$bookName +" src="+ books[i].imgSrc +"/> </a> <a id=\"bookName\" href=" +$tryread + ">"+books[i].bookName + "</a> <p id=\"author\">"+ books[i].author +"</p> <p id=\"introduce\">"+$introduce +"</p> </div> </div>"+"<div><span id=\"rate\">您的评分为：</span><div id=\"star\"></div>")
                $("#star").raty({
                    path:"../static/raty/demo/img",
                    size     : 24,
                    starOff  : 'star-off-big.png',
                    starOn   : 'star-on-big.png',
                    click:function (score) {
                        if($userId == -1){
                            alert("请您登录后再进行评分")
                            window.location="/login"
                        }else{
                            let $rateUrl = "/rate/" + $userId + "/" + $bid + "/" + score
                            $.ajax({
                                url: $rateUrl,
                                success:function () {
                                    alert("评分成功")
                                },
                                error:function () {
                                    alert("抱歉，评分失败，请稍后再试")
                                }
                            })
                        }
                    }
                })
            }
        }
        function loadRecommend(books) {
            for (let i = 0; i < 4 ; i++) {
                let $introduce = String(books[i].introduce);
                let $bookName = String(books[i].bookName);
                let $bid = String(books[i].bookId);
                let $detail = "/detail?bid="+$bid;
                console.log($bookName.length)
                if($bookName.length > 8){
                    $bookName = $bookName.substring(0, 7);
                    $bookName = $bookName + "..."
                    console.log($bookName)
                }
                if ($introduce.length>30){
                    $introduce = $introduce.substring(0,30)
                    $introduce = $introduce + "..."
                    console.log($introduce)
                }
                // $(".row").append("<div class=\"col-md-3\"> <div> <a href=\"http://www.ireader.com/index.php?ca=bookdetail.index&amp;pca=booksort.index&amp;bid=11696851\" id=\"img\"> <img alt=\"金庸作品集（插图版）\" src=\"http://book.img.ireader.com/idc_1/m_1,w_105,h_140,q_100/53f54ba7/group6/M00/2D/1D/CmRae1uGZTKEQrCPAAAAAKL40E0776871827.jpg?v=_tyPRmtg&amp;t=CmRaIVvhOHE.\"/> </a> <a id=\"bookName\" href=\"http://www.ireader.com/index.php?ca=bookdetail.index&amp;pca=booksort.index&amp;bid=1169685\">金庸合集</a> <p id=\"author\">金庸</p> <p id=\"introduce\">asnhdkljanslnjasdasnhdkljanslnjasdasnh dkljanslnjasdasnh dkljanslnjasdasnh dkljanslnjasd</p> </div> </div>")
                $("#bookRecommend").append("<div class=\"col-md-3\" id='detail2'> <div> <a href=" + books[i].imgSrc +" id=\"img2\"> <img alt="+$bookName +" src="+ books[i].imgSrc +"/> </a> <a id=\"bookName2\" href=" +$detail + ">"+$bookName + "</a> <p id=\"author2\">"+ books[i].author +"</p> <p id=\"introduce2\">"+$introduce +"</p> </div> </div>")

            }
        }
    });

</script>

</body>
</html>