<!DOCTYPE html>
<html lang="zh">
<head>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>书籍</title>
</head>
<body>
<!-----------------------------------头部导航栏---------------------------------------------->
<nav class="navbar navbar-default">
    <div class="container">
<!--         Brand and toggle get grouped for better mobile display-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="#">首页 </a></li>
                <li class="active"><a href="#">分类</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="书名/作者名">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="#">登录</a></li>
                <li><a href="#">注册</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>
<!-----------------------------------头部导航栏---------------------------------------------->

<!-----------------------------------书籍展示---------------------------------------------->

<div class="container">
    <nav class="navbar navbar-btn">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">类型</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">页面</a></li>
                    <li><a href="#">页面</a></li>
                    <li><a href="#">页面</a></li>
                    <li><a href="#">页面</a></li>
                    <li><a href="#">页面</a></li>
                    <li><a href="#">页面</a></li>
                    <li><a href="#">页面</a></li>
                    <li><a href="#">页面</a></li>
                    <li><a href="#">页面</a></li>
                </ul>
            </div>
        </div>
    </nav>
<!--    <div class="col-md-2"></div>-->

<div class="col-md-12 jumbotron ">
    <div class="row" >
        <div class="col-md-4">
            <div>
                <a href="http://www.ireader.com/index.php?ca=bookdetail.index&amp;pca=booksort.index&amp;bid=11696851" class="float-left">
                    <img alt="金庸作品集（插图版）" src="http://book.img.ireader.com/idc_1/m_1,w_105,h_140,q_100/53f54ba7/group6/M00/2D/1D/CmRae1uGZTKEQrCPAAAAAKL40E0776871827.jpg?v=_tyPRmtg&amp;t=CmRaIVvhOHE."/>
                </a>
                <h4 class="float-left">金庸</h4>
                <p class="float-right">asnh dkljanslnjasd</p>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <a href="http://www.ireader.com/index.php?ca=bookdetail.index&amp;pca=booksort.index&amp;bid=11696851">
                    <img alt="金庸作品集（插图版）" src="http://book.img.ireader.com/idc_1/m_1,w_105,h_140,q_100/53f54ba7/group6/M00/2D/1D/CmRae1uGZTKEQrCPAAAAAKL40E0776871827.jpg?v=_tyPRmtg&amp;t=CmRaIVvhOHE."/>
                </a>
                <h4>金庸</h4>
                <p>asnh dkljanslnjasd</p>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <a href="http://www.ireader.com/index.php?ca=bookdetail.index&amp;pca=booksort.index&amp;bid=11696851">
                    <img alt="金庸作品集（插图版）" src="http://book.img.ireader.com/idc_1/m_1,w_105,h_140,q_100/53f54ba7/group6/M00/2D/1D/CmRae1uGZTKEQrCPAAAAAKL40E0776871827.jpg?v=_tyPRmtg&amp;t=CmRaIVvhOHE."/>
                </a>
                <h4>金庸</h4>
                <p>asnh dkljanslnjasd</p>
            </div>
        </div>
    </div>


</div>

<!-----------------------------------书籍展示---------------------------------------------->
<!--<script src="../static/js/jquery/jquery-3.4.1.js"></script>-->
<!--<script>-->
<!--    $(function () {-->
<!--        $.ajax({-->
<!--            type:'GET',-->
<!--            url:"/show/93",-->
<!--            success:function (data) {-->
<!--                console.log(data);-->
<!--                let $books = data;-->
<!--                console.log($books[0].bookTypeId)-->


<!--            },-->
<!--            error:function () {-->
<!--                alert("ajax error")-->
<!--            }-->
<!--        });-->

<!--    })-->
<!--</script>-->
</body>
</html>